.THIS#divFather{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.THIS .slds-notify
{
    min-width: 25%;
    max-width: 50%;
}

.THIS .icons
{
    color: white;
}